@import 'tailwindcss';

@plugin 'tailwindcss-animate';

@source "../views";
@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@custom-variant dark (&:is(.dark *));

@theme {
    --font-sans:
        'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

    --radius-lg: var(--radius);
    --radius-md: calc(var(--radius) - 2px);
    --radius-sm: calc(var(--radius) - 4px);

    --color-background: var(--background);
    --color-foreground: var(--foreground);

    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);

    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);

    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);

    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);

    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);

    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);

    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);

    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);

    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);

    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentColor);
    }
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.145 0 0);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.145 0 0);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.145 0 0);
    --primary: oklch(0.205 0 0);
    --primary-foreground: oklch(0.985 0 0);
    --secondary: oklch(0.97 0 0);
    --secondary-foreground: oklch(0.205 0 0);
    --muted: oklch(0.97 0 0);
    --muted-foreground: oklch(0.556 0 0);
    --accent: oklch(0.97 0 0);
    --accent-foreground: oklch(0.205 0 0);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.922 0 0);
    --input: oklch(0.922 0 0);
    --ring: oklch(0.87 0 0);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.985 0 0);
    --sidebar-foreground: oklch(0.145 0 0);
    --sidebar-primary: oklch(0.205 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.97 0 0);
    --sidebar-accent-foreground: oklch(0.205 0 0);
    --sidebar-border: oklch(0.922 0 0);
    --sidebar-ring: oklch(0.87 0 0);
}

.dark {
    --background: oklch(0.145 0 0);
    --foreground: oklch(0.985 0 0);
    --card: oklch(0.145 0 0);
    --card-foreground: oklch(0.985 0 0);
    --popover: oklch(0.145 0 0);
    --popover-foreground: oklch(0.985 0 0);
    --primary: oklch(0.985 0 0);
    --primary-foreground: oklch(0.205 0 0);
    --secondary: oklch(0.269 0 0);
    --secondary-foreground: oklch(0.985 0 0);
    --muted: oklch(0.269 0 0);
    --muted-foreground: oklch(0.708 0 0);
    --accent: oklch(0.269 0 0);
    --accent-foreground: oklch(0.985 0 0);
    --destructive: oklch(0.396 0.141 25.723);
    --destructive-foreground: oklch(0.637 0.237 25.331);
    --border: oklch(0.269 0 0);
    --input: oklch(0.269 0 0);
    --ring: oklch(0.439 0 0);
    --chart-1: oklch(0.488 0.243 264.376);
    --chart-2: oklch(0.696 0.17 162.48);
    --chart-3: oklch(0.769 0.188 70.08);
    --chart-4: oklch(0.627 0.265 303.9);
    --chart-5: oklch(0.645 0.246 16.439);
    --sidebar: oklch(0.205 0 0);
    --sidebar-foreground: oklch(0.985 0 0);
    --sidebar-primary: oklch(0.985 0 0);
    --sidebar-primary-foreground: oklch(0.985 0 0);
    --sidebar-accent: oklch(0.269 0 0);
    --sidebar-accent-foreground: oklch(0.985 0 0);
    --sidebar-border: oklch(0.269 0 0);
    --sidebar-ring: oklch(0.439 0 0);
}

@layer base {
    * {
        @apply border-border;
    }

    @layer base {
        :root {
            --text-50: #eff2f5;
            --text-100: #e0e4eb;
            --text-200: #c1c9d7;
            --text-300: #a2aec3;
            --text-400: #8393af;
            --text-500: #63789c;
            --text-600: #50607c;
            --text-700: #3c485d;
            --text-800: #28303e;
            --text-900: #14181f;
            --text-950: #0a0c10;

            --background-50: #f0f4f5;
            --background-100: #e0e9eb;
            --background-200: #c2d3d6;
            --background-300: #a3bdc2;
            --background-400: #85a7ad;
            --background-500: #669199;
            --background-600: #52747a;
            --background-700: #3d575c;
            --background-800: #293a3d;
            --background-900: #141d1f;
            --background-950: #0a0e0f;

            --primary-50: #eff1f5;
            --primary-100: #e0e3eb;
            --primary-200: #c1c7d7;
            --primary-300: #a2abc3;
            --primary-400: #838faf;
            --primary-500: #63739c;
            --primary-600: #505c7c;
            --primary-700: #3c455d;
            --primary-800: #282e3e;
            --primary-900: #14171f;
            --primary-950: #0a0c10;

            --secondary-50: #f5eff1;
            --secondary-100: #ebe0e2;
            --secondary-200: #d7c1c5;
            --secondary-300: #c3a2a8;
            --secondary-400: #af838c;
            --secondary-500: #9c636f;
            --secondary-600: #7c5059;
            --secondary-700: #5d3c42;
            --secondary-800: #3e282c;
            --secondary-900: #1f1416;
            --secondary-950: #100a0b;

            --accent-50: #f5f2ef;
            --accent-100: #ebe6e0;
            --accent-200: #d8ccc0;
            --accent-300: #c4b3a1;
            --accent-400: #b09a82;
            --accent-500: #9d8062;
            --accent-600: #7d674f;
            --accent-700: #5e4d3b;
            --accent-800: #3f3327;
            --accent-900: #1f1a14;
            --accent-950: #100d0a;
        }
        .dark {
            --text-50: #0a0c10;
            --text-100: #14181f;
            --text-200: #28303e;
            --text-300: #3c495d;
            --text-400: #50617c;
            --text-500: #63799c;
            --text-600: #8394af;
            --text-700: #a2afc3;
            --text-800: #c1c9d7;
            --text-900: #e0e4eb;
            --text-950: #eff2f5;

            --background-50: #0a0e0f;
            --background-100: #141d1f;
            --background-200: #293a3d;
            --background-300: #3d575c;
            --background-400: #52747a;
            --background-500: #669199;
            --background-600: #85a7ad;
            --background-700: #a3bdc2;
            --background-800: #c2d3d6;
            --background-900: #e0e9eb;
            --background-950: #f0f4f5;

            --primary-50: #0a0c10;
            --primary-100: #14171f;
            --primary-200: #282e3e;
            --primary-300: #3c455d;
            --primary-400: #505c7c;
            --primary-500: #63739c;
            --primary-600: #838faf;
            --primary-700: #a2abc3;
            --primary-800: #c1c7d7;
            --primary-900: #e0e3eb;
            --primary-950: #eff1f5;

            --secondary-50: #100a0b;
            --secondary-100: #1f1416;
            --secondary-200: #3e282c;
            --secondary-300: #5d3c42;
            --secondary-400: #7c5059;
            --secondary-500: #9c636f;
            --secondary-600: #af838c;
            --secondary-700: #c3a2a8;
            --secondary-800: #d7c1c5;
            --secondary-900: #ebe0e2;
            --secondary-950: #f5eff1;

            --accent-50: #100d0a;
            --accent-100: #1f1a14;
            --accent-200: #3f3327;
            --accent-300: #5e4d3b;
            --accent-400: #7d674f;
            --accent-500: #9d8062;
            --accent-600: #b09a82;
            --accent-700: #c4b3a1;
            --accent-800: #d8ccc0;
            --accent-900: #ebe6e0;
            --accent-950: #f5f2ef;
        }
    }

    ,
    body {
        @apply bg-background text-foreground;
    }

    .alert {
        @apply bg-destructive w-max rounded-md p-4 text-[var(--text-50)];
    }

    .link {
        color: var(--accent-500);
    }

    .button {
        @apply rounded-md px-5 py-3.5 text-sm font-semibold opacity-85 shadow-sm focus-visible:outline-2 focus-visible:outline-offset-2;
    }

    .error-text {
        @apply text-destructive;
    }

    .primary-button {
        color: var(--text-50);
        background-color: var(--primary-500);
        @apply hover:bg-[var(--primary-400)];
    }

    .secondary-button {
        @apply bg-[var(--secondary-500)] text-[var(--text-50)] hover:bg-[var(--secondary-400)];
    }

    .accent-button {
        @apply bg-[var(--accent-500)] text-[var(--text-50)] hover:bg-[var(--accent-500)];
    }

    .h1-text {
        @apply text-3xl;
    }

    .h2-text {
        @apply text-2xl font-bold;
    }

    .text {
        @apply text-[var(--text-900)];
    }

    .label {
        @apply font-light text-[var(--text-900)];
    }

    .form-with-label {
        @apply flex flex-col items-start justify-center gap-2;
    }
}
